SECRET_KEY=o7uwrv8zgxovmj^k(e-$xsyemh*-vn2%$04s+ak5@+za^c$z_1
DEBUG=False
DJANGO_ENV=production
ALLOWED_HOSTS=your-domain.onrender.com
DATABASE_URL=sqlite:///db.sqlite3
CORS_ALLOWED_ORIGINS=https://your-app.vercel.app
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=ireboyofficialtech@gmail.com
EMAIL_HOST_vzql kfqa uvkm gtku
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Your App <ireboyofficialtech@gmail.com>
FRONTEND_URL=https://freelance-marketplace-lac-psi.vercel.app/
EMAIL_CHANGE_TOKEN_LIFETIME_HOURS=24
PASSWORD_RESET_TOKEN_LIFETIME_HOURS=2